<%include layout %>
<%include nav%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="container menu">
  <div class="row">

    <form action="/modulo" method="post">
      <div class="col-md-3">
        <h4>Selecciona el tipo de formato del módulo</h4>
        <p><input type="radio" name="tipo" value="texto" checked> Texto</p>
        <p><input type="radio" name="tipo" value="video" checked> Link a Video</p>
        <p><input type="radio" name="tipo" value="imagen" checked> Link a Imagen</p>
        <br>
        <input type="hidden" name="unidad_id" value=<%=unidad_id%>>
        <input type="hidden" name="unidad_nombre" value=<%=unidad_nombre%>>
        <button type="submit" id='enviar' class="btn btn-default">Guardar módulo</button>
      </div>
      <div class="col-md-4">
        Estás en la unidad <label><%=unidad_nombre%></label>
        <textarea rows="8" cols="40" type="text" name="contenido" id="contenido" placeholder="Escriba acá el contenido del módulo..." required></textarea>
      </div>
    </form>
    <form action="/adm_plantilla" method="post">
      <input type="hidden" value=<%=unidad_id%> name="unidad_id">
      <input type="hidden" value=<%=unidad_nombre%> name="unidad_nombre">
      <button type="submit"> Volver</button>
    </form>
    </div>
</div>

<% include footer %>
