<%include ../layout %>
<%include ../nav %>

<div class="menu container">

  <div style="margin-bottom:20px;" class="row col-xs-4 col-xs-offset-4">
    <form action="/ver_plantillas" method="post">
      <strong>Filtrar por perfil: </strong>
      <input type="radio" name="profile" value="1"> 1
      <input type="radio" name="profile" value="2"> 2
      <input type="radio" name="profile" value="3"> 3
      <input type="radio" name="profile" value="4"> 4
      <input type="hidden" name="unidad_id" value=<%=unidad_id%>>
      <input type="hidden" name="unidad_nombre" value=<%=unidad_nombre%>>
      <input type="hidden" name="activar" value='0'>
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>
  </div><!-- filtrar x perfil -->

  <div class="row">

    <form action="/adm_plantilla" method="post" class="pull-right">
      <input type="hidden" name="unidad_id" value=<%=unidad_id%>>
      <input type="hidden" name="unidad_nombre" value=<%=unidad_nombre%>>
      <button type="submit" class="btn btn-default">Volver</button>
    </form><!-- Volver -->

    <%for(var i = 0;i<plantillas.length;i++){%>
      <% if (plantillas[i].perfil_idperfil==profile){%>
        <div class="col-xs-4 col-xs-offset-4 usuario">
            <h4 class="pull-left"><%= plantillas[i].Nombre%></h4>
            <%if(plantillas[i].Activo=='1'){%>
              <h4><i style="color:green;" class="pull-left fa fa-check-circle" aria-hidden="true"></i></h4>
            <%}%><!-- activo -->
            <form action="/ver_plantillas" method="post">
              <input type="hidden" name="plantilla_id" value=<%=plantillas[i].idPlantilla%>>
              <input type="hidden" name="unidad_id" value=<%=unidad_id%>>
              <input type="hidden" name="unidad_nombre" value=<%=unidad_nombre%>>
              <input type="hidden" name="activar" value='1'>
              <input type="hidden" name="profile" value=<%=profile%>>
              <button class="btn btn-primary pull-right">Elegir como activa</button>
            </form><!-- se activa una plantilla -->
        </div>
      <%}%>
    <%}%><!-- end for-->

  </div>

</div>

<%include ../footer %>
